



@charset "utf-8";
/* CSS Document */

.Main-Wrapper
{
	margin:0 auto;
	padding:0;
	width:1263px;
	min-height:3500px;
}
.Top-Area
{
	margin:0;
	padding:0;
	width:1263px;
	height:475px;
	background-color:#333;
}
.Top-Area img
{
	width:1263px;
	height:475px;
	position:absolute;
	
}
.Top-Area #im-1
{
	opacity:1;
}
.Top-Area #im-2
{
	opacity:0;
}
.Top-Area #im-3
{
	opacity:0;
}
.Top-Area #im-4
{
	opacity:0;
}



nav
{
	margin:50px 0 0 100px;
	padding:15px 0 0 0;
	width:880px;
	height:30px;
	border-radius:20px;
    border:0;
    background-color:#000;
	position:absolute;
    float:left;
}
nav li
{
	margin:0 0 0 50px;
	float:left;
	color:#03C;
	font-size:20px;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	font-style:italic;
	position:relative;
	list-style-type:none;
}
nav li a
{
	margin:0;
	text-align:center;
	text-decoration:none;
	
}
nav li a:hover
{
	color:red;
}
nav li ul
{
	margin:0 0px 0 -90px;
	width:180px;
	display:none;
}





#main-para-1
{
	margin:180px 0 0 320px;
	font-size:56px;
	font-family:'Roboto', sans-serif;
	color:#FFF;
	text-align:center;
	font-style:italic;
	font-weight:900;
	line-height:1.44em;
	letter-spacing:-0.10px;
	position:absolute;
	display:none;
}
#main-para-2
{
	margin:180px 0 0 320px;
	font-size:56px;
	font-family:'Roboto', sans-serif;
	color:#FFF;
	text-align:center;
	font-style:italic;
	font-weight:900;
	line-height:1.44em;
	letter-spacing:-0.10px;
	position:absolute;
	display:none;
}








#navigation
{
	margin:50px 0 0 0;
	width:1263px;
	background-color:#006;
	position:relative;
	z-index:6;
	list-style-type:none;
}
#navigation li
{
	width:150px;
	float:left;
	position:relative;
}
#navigation li a
{
	color:#FFF;
	text-align:center;
	text-decoration:none;
	
}
#navigation li a:hover
{
	color:#F00;
	background:linear-gradient(#666,#CCC);
}
#navigation ul
{

	list-style-type:none;
	position:absolute;
	display:none;
}
.Main-Page
{
	margin:0;
	padding:10px 0 0 0;
	width:1263px;
	height:815px;
}
.Main-Page p
{
	margin:80px 0 0 0;
	color:#3BA2BE;
	font-size:36px;
	line-height:1.78em;
	font-family:'Roboto', sans-serif;
	text-align:center;
}
.Main-Page p a
{
	color:#3BA2BE;
	line-height:0.93em;
	font-weight:900;
	font-size:60px;
	font-family:'Roboto', sans-serif;
}
.Main-Page section
{
	margin:55px 0 0 47px;
	padding:0;
	width:374px;
	height:75px;
	color:#C9C9C9;
	font-size:14px;
	line-height:1.43em;
	font-family:'Roboto', sans-serif;
	text-align:start;
	float:left;
}
.Main-Page section:hover
{
	color:#03C;
}
.Main-Page img
{
	margin:70px auto;
}
.Main-Page #para
{
	margin:35px auto;
	padding:0;
	width:525px;
	height:75px;
	color:#C9C9C9;
	font-size:14px;
	line-height:1.43em;
	font-family:'Roboto', sans-serif;
	text-align:center;
	display:none;
}
.image {
    margin: 50px 545px 0 0;
    float: left;
}




















            /*     FORM ADMIN STYLE     */
    

.page-area
{
    margin:0;
    padding:80px 0 0 0;
    width:1263px;
    min-height:600px;
    background-color:#006;   
}
.Login-box 
{
    margin:0 auto;
    padding:0;
    width:400px;
    min-height:350px;
    border-radius:40px;
    background-color:transparent;
   
}
.Login-box .label-style 
{
    margin:10px 0 0 40px;
    color:white;
    font-size:14px;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:italic;
    transition-duration:2s;

}
.Login-box .textbox-style 
{
    margin:10px 0 0 10px;
    padding:0 10px 0 10px;
    width:180px;
    height:25px;
    color:black;
    background-color:#C9C9C9;
    font-size:14px;
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-style:italic;
    border:1px solid #C9C9C9;
    border-radius:20px;
    transition-duration:2s;

}
.Login-box .title-style 
{
    margin:20px auto;
    color:white;
    font-size:24px;
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-style:italic;
    transition-duration:2s;

}
.Login-box .btn-login-style 
{

    width:80px;
    height:30px;
    color:#fff;
    font-size:14px;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:italic;
    background-color:#000;
    border:2px solid #333;
    border-radius:10px;
    transition-duration:1s;

}
.Login-box .btn-login-style:hover
{
    color:#03C;
    background-color:#808080;
    border-radius:20px;
    transition-duration:1s;
}





























footer
{
	margin:0;
	padding:50px 0 0 0;
	width:1263px;
	height:675px;
	background-color:#092543;
	display:none;
}
footer h4
{
	margin:82px 0 0 80px;
	color:#FFF;
	font-weight:300;
	font-family:'Roboto', sans-serif;
	line-height:0.84em;
	letter-spacing:-0.2333px;
	font-size:25px;
	text-align:left;
	float:left;
}
footer h6
{
	margin:82px 0 0 290px;
	color:#FFF;
	font-weight:300;
	font-family:'Roboto', sans-serif;
	line-height:0.84em;
	letter-spacing:-0.2333px;
	font-size:25px;
	text-align:left;
	float:left;
}
footer h2
{
	margin:85px 130px 0 0;
	color:#3BA2BE;
	font-size:36px;
	font-family:'Roboto', sans-serif;
	line-height:48px;
	letter-spacing:0.9px;
	font-style:normal;
	float:right;
}
footer img
{
	margin:25px 0 0 60px;
	border-radius:10px;
	float:left;
}
footer img:hover
{
	opacity:0.60;
}
footer p
{
	width:20%;
	margin:30px 0 0 130px;
	color:#3BA2BE;
	font-size:16px;
	line-height:25px;
	text-align:left;
	float:left;
	display:none;
}
footer p a
{	
	color:#3BA2BE;
	font-size:16px;
	line-height:20px;
	text-align:left;	
}
footer p a:hover
{
	color:#FFF;
}
.icon 
{
	margin:70px 220px 0 0;
	float:right;
	display:none;
}
.icon img
{
	margin:0;
}
#footer-sec
{
	margin:600px 0 0 50px;
	font-family:'Roboto', sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#34a0b4;
	float:none;	
}


